USE [master]
GO
/****** Object:  Database [BigFishBD]    Script Date: 11.05.2025 18:54:02 ******/
CREATE DATABASE [BigFishBD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BigFishBD', FILENAME = N'C:\Users\vkeng\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\BigFishBD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BigFishBD_log', FILENAME = N'C:\Users\vkeng\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\BigFishBD.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BigFishBD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BigFishBD]
GO
/****** Object:  Table [dbo].[Articles]    Script Date: 11.05.2025 18:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Articles](
	[Article] [nvarchar](255) NOT NULL,
	[PriceFoundry] [int] NOT NULL,
	[PricePackers] [int] NOT NULL,
	[Type] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Article] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ColorArticles]    Script Date: 11.05.2025 18:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ColorArticles](
	[ColorArticle] [nvarchar](255) NOT NULL,
	[Article] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[ColorArticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DailyReport]    Script Date: 11.05.2025 18:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DailyReport](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[DatePack] [date] NOT NULL,
	[FIO] [nvarchar](255) NOT NULL,
	[ColorArticlePack] [nvarchar](255) NULL,
	[StorageName] [nvarchar](255) NOT NULL,
	[FinePacks] [float] NULL,
	[Packs] [float] NULL,
	[DateFoundry] [date] NOT NULL,
	[ColorArticleFoundry] [nvarchar](255) NULL,
	[Packs2] [float] NULL,
	[FinePacksFoundry] [float] NULL,
	[FIO_Foundry] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Foundry]    Script Date: 11.05.2025 18:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Foundry](
	[FIO_Foundry] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FIO_Foundry] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Packers]    Script Date: 11.05.2025 18:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Packers](
	[FIO] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[FIO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Storage]    Script Date: 11.05.2025 18:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Storage](
	[StorageName] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StorageName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User1]    Script Date: 11.05.2025 18:54:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User1](
	[Login] [nvarchar](255) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Login] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ColorArticles]  WITH CHECK ADD  CONSTRAINT [FK_ColorArticles_Articles] FOREIGN KEY([Article])
REFERENCES [dbo].[Articles] ([Article])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ColorArticles] CHECK CONSTRAINT [FK_ColorArticles_Articles]
GO
ALTER TABLE [dbo].[DailyReport]  WITH CHECK ADD FOREIGN KEY([FIO_Foundry])
REFERENCES [dbo].[Foundry] ([FIO_Foundry])
GO
ALTER TABLE [dbo].[DailyReport]  WITH CHECK ADD  CONSTRAINT [FK_DailyReport_ColorArticlePack] FOREIGN KEY([ColorArticlePack])
REFERENCES [dbo].[ColorArticles] ([ColorArticle])
GO
ALTER TABLE [dbo].[DailyReport] CHECK CONSTRAINT [FK_DailyReport_ColorArticlePack]
GO
ALTER TABLE [dbo].[DailyReport]  WITH CHECK ADD  CONSTRAINT [FK_DailyReport_ColorArticlesFoundry] FOREIGN KEY([ColorArticleFoundry])
REFERENCES [dbo].[ColorArticles] ([ColorArticle])
GO
ALTER TABLE [dbo].[DailyReport] CHECK CONSTRAINT [FK_DailyReport_ColorArticlesFoundry]
GO
ALTER TABLE [dbo].[DailyReport]  WITH CHECK ADD  CONSTRAINT [FK_DailyReport_Packers] FOREIGN KEY([FIO])
REFERENCES [dbo].[Packers] ([FIO])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyReport] CHECK CONSTRAINT [FK_DailyReport_Packers]
GO
ALTER TABLE [dbo].[DailyReport]  WITH CHECK ADD  CONSTRAINT [FK_DailyReport_Storage] FOREIGN KEY([StorageName])
REFERENCES [dbo].[Storage] ([StorageName])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DailyReport] CHECK CONSTRAINT [FK_DailyReport_Storage]
GO
USE [master]
GO
